<nav class="fixed-header">
  <%= render partial: 'shared/main_nav' %>
  <%= render partial: 'shared/masthead' %>
  <%= render partial: 'shared/sections_nav' %>
  <%= render partial: 'shared/search_modal' %>
</nav>
<%= render partial: 'shared/main_content' %>
